{% extends 'index.html' %}

{% block title %}Контакти{% endblock %}

{% block content %}
<div class="container mt-4">
    <p>Консультація та відповіді на питання надаємо з понеділка по п'ятницю з 10:00 до 17:00</p>
    <p>Надання косультацій поза графіком надається шляхом обміну повідомленнями на месенджерах, </p>
    <p>якщо, або коли це можливо Viber, WhatsApp, Signal за контактами:</p>
    <p>тел. +38 095 6881900</p>
    <p>тел. +38 050 2449929</p>
    <p>bmtech1980@gmail.com</p>
    
    
</div>
{% endblock %}
