/* static/styles.css */

body {
    background-color: #00cc00;
    /* Колір фону */
    font-family: Arial, sans-serif;
    /* Шрифт тексту */
    margin: 0;
    /* Відсутність відступів */
    padding: 0;
    /* Відсутність відступів */
}

.container {
    max-width: 800px;
    /* Максимальна ширина контейнера */
    margin: auto;
    /* Центрування контейнера */
    padding: 20px;
    /* Внутрішній відступ */
    background-color: #cc99ff;
    /* Колір контейнера */
    border-radius: 5px;
    /* Закруглені кути контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Тінь контейнера */
}

h1 {
    text-align: center;
    /* Вирівнювання заголовка по центру */
}

h2 {
    color: #333;
    /* Колір тексту заголовка */
    margin-bottom: 10px;
    /* Відступний марж */
}

h3 {
    color: #666;
    /* Колір тексту підзаголовка */
}

ul {
    list-style-type: none;
    /* Видалення маркера списку */
    padding: 0;
    /* Відсутність внутрішніх відступів */
}

li {
    margin-bottom: 5px;
    /* Відступний марж між елементами списку */
}

form {
    margin-top: 20px;
    /* Відступний марж над формою */
}

button {
    background-color: #007bff;
    /* Колір фону кнопки */
    color: #fff;
    /* Колір тексту кнопки */
    border: none;
    /* Відсутність рамки */
    padding: 10px 20px;
    /* Величина внутрішніх відступів */
    cursor: pointer;
    /* Показує курсор руки при наведенні */
    border-radius: 5px;
    /* Закруглені кути кнопки */
}

button:hover {
    background-color: #0056b3;
    /* Колір фону кнопки при наведенні */
}