<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Index{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'product_list' %}">El</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
        <ul>
        {% if is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'change_product' %}">Change Product</a>
            </li>
        {% endif %}
        {% if is_manager %}
        <p>Hello, manager!</p>
        {% endif %}
        {% if is_customer %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
            </li>
        {% endif %}
        </ul>
        {% endif %}
           
     
            <li class="nav-item">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li><a class="nav-link" href="{% url 'register' 'user' %}">Register</a></li>
                        
                    {% endif %}
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
        {% block content %}

        {% endblock content %}
      </div>

  </body>
</html>